
.dashboard {
  display: flex;
  flex-direction: column;
}
.dashboard * {
  display: block;
}

.dashboard__button {
  background-color: var(--clr-white);
  color: var(--clr-second);
  border: 2px solid var(--clr-black);
  border-radius: 5px;
  margin-top: 0.5em;
}
.dashboard__button:hover {
  background-color: var(--clr-second);
  color: var(--clr-white);
}


/***************
PROJECT__PICTURE DIV
***************/

.project__body::after {
  content: none;
}

.project__picture {
  margin: .5rem 1rem;
  height: 75%;
  background-image: none;
}

.project__picture img {
  width: 100%;
  height: 100%;
}

.project__picture--first {
  background-image: linear-gradient(var(--clr-first) 50%, transparent 50%);
}
.project__picture--second {
  background-image: linear-gradient(var(--clr-second) 50%, transparent 50%);
}

.project__picture--third {
  background-image: linear-gradient(var(--clr-third) 50%, transparent 50%);
}
.project__picture--fourth {
  background-image: linear-gradient(var(--clr-fourth) 50%, transparent 50%);
}

/***************
PROJECT__INFO DIV
***************/

.project__info {
  border-radius: 10px;
  margin: 1rem;
  padding: 2.5rem;
  color: #fff;
  text-align: center;
  max-height: 60%;
  overflow: scroll;
}

.project__info--title {
  margin-bottom: 1rem;
}

.project__info--title {
  margin-bottom: 1rem;
}

.project__info--first {
  background-color: var(--clr-first);
}
.project__info--second {
  background-color: var(--clr-second);
}
.project__info--third {
  background-color: var(--clr-third);
}
.project__info--fourth {
  background-color: var(--clr-fourth);
}


/****************** 
  TABLET MEDIA QUERIES
******************/
@media (min-width: 43em) {
  /* main {
    margin-top: 15em;
  } */

  .project__body {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7em;
  }

  /***************
  PROJECT__PICTURE DIV
  ***************/
  .project__picture {
    display: flex;
    border: 1px solid #dadada;
    border-radius: 16px;
    padding: 35px;
    width: 80%;
    justify-content: center;
    align-self: center;
    box-shadow: var(--bs-basic);
  }

  .project__picture img {
    max-width: 80%;
    max-height: 80%;
    border: 5px solid #fff;
    align-self: center;
    transition: transform .5s;
    box-shadow: var(--bs-basic);
  }

  /***************
  PROJECT__INFO DIV
  ***************/
  .project__info {
    border-radius: 10px;
    margin: 1rem auto;
    padding: 2.5rem;
    box-shadow: var(--bs-basic);
    text-align: center;
  }

  .project__info--first,
  .project__info--first,
  .project__info--first,
  .project__info--first {
    background-image: none;
  }
}

/****************** 
  DESKTOP MEDIA QUERIES
******************/
@media (min-width: 62em) {
  .project__body {
    /* width: 80%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 7em;
    align-items: center;
  }

  /***************
  PROJECT__PICTURE DIV
  ***************/
  .project__info {
    border-radius: 10px;
    margin: 1rem auto;
    padding: 2.5rem;
    box-shadow: var(--bs-basic);
    text-align: center;
  }
  .project__picture {
    /* display: flex;
    border: 1px solid #dadada;
    border-radius: 16px;
    padding: 35px; */
    width: 700px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    /* justify-content: center;
    align-self: center;
    box-shadow: var(--bs-basic); */
  }

  /* .project__picture img {
    width: 80%;
    height: 80%;
    border: 5px solid #fff;
    align-self: center;
    transition: transform .5s;
    box-shadow: var(--bs-basic);
  } */

  .project__picture img:hover {
    transform: scale(1.3);
  }

  /***************
  PROJECT__INFO DIV
  ***************/
  .project__info {
    border-radius: 10px;
    margin: 1rem auto;
    padding: 2.5rem;
    box-shadow: var(--bs-basic);
    text-align: center;
  }
  .project__info {
    width: 30%;
    align-self: center;
    /* box-shadow: var(--bs-basic); */
    max-height: 75%;
    overflow: hidden;
  }
}