main {
  /* flex-wrap: wrap;
  justify-content: center;
  margin-top: 5.5em; */
  /* background-color: brown; */
  /* border: 2px solid black; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 6.5rem;
  height: 80vh;
}

/******
This is used for limiting size of the last home-card element. 
It doesn't grow to full width thanks to thix declaration.
******/
/* main::after {
  content: '';
  flex-grow: 10;
} */

.homepage__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}