:root {
  --clr-firstCard: #011627;
  --clr-secondCard: #DA0101;
  --clr-thirdCard: #41EAD4;
  --clr-fourthCard: #FF9F1C;
}

.card__container {
  border-radius: 10px;
  margin: .3em;
  width: 450px;
  height: 400px;
  flex-grow: 1;
  flex-shrink: 1;
}


.card__body {
  position: relative;
  width: 100%;
  height: 100%;
}

.card__body > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
}

/* Nth-child for overlay colors (:hover background) */
main .card__container:nth-child(4n + 1) .card__overlay {
  background: var(--clr-firstCard);
}

main .card__container:nth-child(4n + 2) .card__overlay {
  background: var(--clr-secondCard);
}

main .card__container:nth-child(4n + 3) .card__overlay {
  background: var(--clr-thirdCard);
}

main .card__container:nth-child(4n + 4) .card__overlay {
  background: var(--clr-fourthCard);
}

.card__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.card__overlay:hover {
  opacity: 1;
}

.card__overlay:hover > * {
  transform: translateY(0)
}

.card__overlay__title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: .5em;
}

.card__overlay__description {
  font-size: 1.25em;
  margin-top: 0.25em;
}