
.card__test {
  border: 1px solid black;
  flex-grow: 1;
  flex-shrink: 1;
  height: 20rem;
  width: 20rem;
  background-color: rgb(3, 146, 10);
  transition: ease-in-out .5s;
}

.card__test:hover {
  background-color: aqua;
}