.card__container {
  margin: 0.3em;
  max-width: 450px;
  height: 400px;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 10px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}


.card__body {
  position: relative;
  width: 100%;
  height: 100%;
  /* border-radius: 10px; */
}

.card__body > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 10px;

  padding: 0.5em;
}

/* Nth-child for overlay colors (:hover background) */
main .card__container:nth-child(4n + 1) .card__overlay {
  background: var(--clr-tspr-first);
}

main .card__container:nth-child(4n + 2) .card__overlay {
  background: var(--clr-tspr-second);
}

main .card__container:nth-child(4n + 3) .card__overlay {
  background: var(--clr-tspr-third);
}

main .card__container:nth-child(4n + 4) .card__overlay {
  background: var(--clr-tspr-fourth);
}

.card__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.card__overlay:hover {
  opacity: 1;
  border: 6px solid #444444;
}

.card__overlay:hover > * {
  transform: translateY(0)
}

.card__overlay--title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: .5em;
  text-align: center;
}

.card__overlay--description {
  font-size: 1.25em;
  margin-top: 0.25em;
}