.container {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.open {
  border: 1px solid black;
}

.navbar__body {
  display: flex;
  align-items: center;
}

.navbar__ul--image {
  width: 50%;
  margin: auto;
}

/* .navbar__hamburger {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  height: 50%;
} */

/* BURGER MENU-BUTTON */
.navbar__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  cursor: pointer;
  transition: all .5 ease-in-out;
  /* border: 3px solid #000; */
}

.navbar__button--burger {
  width: 1.5em;
  height: 3px;
  background: #000;
  border-radius: 20%;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.navbar__button--burger::before,
.navbar__button--burger::after {
  content: '';
  position: absolute;
  width: 1.5em;
  height: 3px;
  background: #000;
  border-radius: 20%;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.navbar__button--burger::before {
  transform: translateY(-.5em);
}

.navbar__button--burger::after {
  transform: translateY(.5em);
}

/* BURGER MENU-BUTTON ANIMATION */

.navbar__button.open .navbar__button--burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.navbar__button.open .navbar__button--burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.navbar__button.open .navbar__button--burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}


.navbar__image {
  width: 75%;
}

.navbar__ul--link {
  display: none;
}

@media screen and (min-width: 43em) {
  .container {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar__button {
    display: none;
  }
  
  /* .container::after {
    position: absolute;
    content: '';
   height: 3px;
   width: 20%;
   left: calc(50% - 10%);
   top: 98%;
    background-color: #000;
  } */
  
  .navbar__ul {
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
  }
  
  .navbar__ul a {
    /* text-decoration: none;
    color: #000;
    display: inline-block; */
    /* margin-top: 2rem; */
    /* padding: 10px; */
  }
  
  /* .navbar__ul a:hover{
    background-color: #ccc;
  } */
  
  .navbar__ul--link {
    position: relative;
    text-decoration: none;
    color: #000;
    display: inline-block;
    font-size: var(--fs-medium);
    transition: 300ms ease-in;
  }
  
  .navbar__ul--link:hover {
    color: var(--clr-second);
  }
  
  .navbar__ul--link::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: var(--clr-second);
    transform: scaleX(0.2);
    transform-origin: right;
    transition: 300ms ease-in;
  }
  
  .active {
    color: var(--clr-second);
  }
  
  .navbar__ul--link:hover::before {
    background-color: #000;
    transform: scaleX(1);
    transform-origin: right;
  }
  
  .navbar__ul--link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--clr-second);
    transform: scaleX(0.2);
    transform-origin: left;
    transition: 300ms ease-in;
  }
  
  .navbar__ul--link:hover::after {
    background-color: #000;
    transform: scaleX(1);
    transform-origin: left;
  }
  
  .navbar__ul--image {
    margin: auto;
    align-items: center;
    width: 50%;
    transition: .5s ease-in-out;
  }
  
  .navbar__ul--image:hover {
    background-color: #313131;
    border-radius: 20%;
  }

}