.loading__spinner {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.loading__spinner::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 10px solid transparent;
  border-top-color: var(--clr-second);
  border-bottom-color: var(--clr-second);
  margin: 0 auto;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

/***************************
**** Spinning animation ****
***************************/
@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}